<p>Guten Tag {{ user.firstName }} {{ user.lastName }},</p>

<p>Wir freuen uns, dass Sie Lager im Griff testen möchten.</p>

<p>
    Um sicherzustellen, dass diese E-Mail-Adresse auch tatsächlich Ihre ist, haben wir das doppelte Bestätigungsverfahren (Opt-in) eingerichtet.
    Bitte klicken Sie auf den Link, um Ihre Testphase zu starten.
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="border-radius: 3px;" bgcolor="#e9703e"><a href="{{ confirmUrl }}" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 3px; padding: 12px 18px; border: 1px solid #e9703e; display: inline-block;">Testphase bestätigen</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>Ab jetzt können Sie eine App nutzen, mit der sie Ihr Lager im Griff haben. Damit stehen Sie nie mehr vor dem falschen Regal. Sie finden immer, was Sie suchen.</p>

<p><a href="https://lagerimgriff.de/dokumentation/">Hier finden Sie Tipps zum Einstieg...</a></p>

<p>
    Freundliche Grüße,<br />
    Steffen Grell
</p>

<p>
    Lager im Griff
</p>

<p>
    Clemensstr. 54<br />
    53225 Bonn
</p>

<p>
    Tel.: +49 (0) 228 240 33 695
</p>

<p>
    <a href="mailto:kontakt@lagerimgriff.de">kontakt@lagerimgriff.de</a><br />
    <a href="https://www.lagerimgriff.de" target="_blank">www.lagerimgriff.de</a>
</p>

<p style="font-weight: bold">Die App, mit der Sie Ihr Lager in den Griff bekommen.</p>

<p>
    <span style="font-weight: bold">P.S.</span><br />
    Wieviel Zeit ist schon bei der Suche nach Material, Schlüsseln oder Werkzeugen drauf gegangen? Ab jetzt finden Sie sofort, was Sie suchen.
    <a href="{{ confirmUrl }}" target="_blank">Jetzt Testphase bestätigen</a>.
</p>

<p>
    <span style="font-weight: bold">P.P.S.</span><br />
    Sie wünschen sich Unterstützung bei der Einrichtung oder haben Fragen? Vereinbaren Sie hier ein kostenloses Telefonat:<br />
    <a href="https://www.terminland.de/steffengrell/" target="_blank">https://www.terminland.de/steffengrell/</a>
</p>
