{# templates/emails/registration.html.twig #}
<h3>Passwort zurücksetzen</h3>
<br />
<br />
<p>{{ salutation }},</p>
<br />
<a href="{{ resetLink }}">hier können Sie Ihr Passwort zurücksetzen</a>
<br />
<p>Falls Sie Fragen haben, wenden Sie sich gerne an <a href="mailto:kontakt@lagerimgriff.de">kontakt@lagerimgriff.de</a>.</p>
<br />
<p>Herzliche Gr&uuml;ße,</p>
<p>Steffen Grell</p>
<br />
<p>Lager im Griff</p>
<br />
<p><a href="https://www.lagerimgriff.de">www.lagerimgriff.de</a></p>
<p><a href="mailto:kontakt@lagerimgriff.de">kontakt@lagerimgriff.de</a></p>
