{# templates/emails/registration.html.twig #}
<h3>Passwort zurückgesetzt</h3>
<br />
<p>{{ salutation }},</p>
<p>Ihr Passwort wurde erfolgreich zurückgesetzt.</p>
<br />
<p>Falls Sie Fragen haben, wenden Sie sich gerne an <a href="mailto:kontakt@lagerimgriff.de">kontakt@lagerimgriff.de</a>.</p>
<br />
<p>Herzliche Gr&uuml;ße,</p>
<p>Steffen Grell</p>
<br />
<p>Lager im Griff</p>
<br />
<p><a href="https://www.lagerimgriff.de">www.lagerimgriff.de</a></p>
<p><a href="mailto:kontakt@lagerimgriff.de">kontakt@lagerimgriff.de</a></p>
