<p>{{ salutation }}</p>

<p>Folgende Direktbestellung kann jetzt weiter verarbeitet werden:</p>
<p>{{ directOrderInfos }}</p>
<p><a href="{{ directOrderLink }}">Hier können Sie die Bestellung weiter verarbeiten</a></p>
<br />
<p>Freundliche Grüsse,</p>
<p>Lager im Griff</p>
